In [1]:
import pymysql

In [2]:
con = pymysql.connect(user="root",password="Tejal30@",database="library",host="localhost")

In [3]:
c1 = con.cursor()

In [4]:
sql="describe member_master"

In [5]:
c1.execute(sql)

7

In [6]:
records = c1.fetchall()

In [7]:
records

(('member_id', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('mem_name', 'varchar(30)', 'YES', '', None, ''),
 ('mem_type', 'varchar(20)', 'YES', '', None, ''),
 ('location', 'varchar(30)', 'YES', '', None, ''),
 ('city', 'varchar(30)', 'YES', '', None, ''),
 ('contact_no', 'bigint', 'YES', '', None, ''),
 ('no_books_issued', 'int', 'YES', '', None, ''))

In [8]:
sql1="show tables"

In [9]:
c1.execute(sql1)

6

In [10]:
recordset1=c1.fetchall()

In [11]:
recordset1

(('book',),
 ('book_status',),
 ('issue_return',),
 ('member_master',),
 ('order_prod',),
 ('product',))

In [12]:
for i in recordset1:
    print(i)

('book',)
('book_status',)
('issue_return',)
('member_master',)
('order_prod',)
('product',)

In [13]:
#to retrive all data from book table
sql2 = "select * from book"

In [14]:
c1.execute(sql2)

4

In [15]:
rs2 = c1.fetchall()

In [16]:
for i in rs2:
    print(i)

('asp.net 3.5', 'anne bohew', 550, 'PHE')
('beginners in VB', 'Julia case breadlen', 600, 'TMH')
('Beginners programming in C++', 'Balaguruswamy', 500, 'TMH')
('programming with java', 'Balaguruswamy', 550, 'TMH')

In [17]:
#insert statements
sql3 = "insert into book_status values('BS001','programming with java','issued')"

In [18]:
c1.execute(sql3)

1

In [22]:
#for saving the data
c1.execute("commit")

0

In [19]:
c2 = con.cursor()

In [20]:
c2.execute("select * from book_status")

1

In [21]:
c2.fetchall()

(('BS001', 'programming with java', 'issued'),)

In [27]:
#inserting records with variables
t = input("Enter title of the book: ")
a = input("Enter author of the book: ")
c = int(input("Enter cost of the book: "))
p = input("Enter the publisher name: ")

sql_insert = "insert into book values('{0}','{1}',{2},'{3}')".format(t,a,c,p)

Enter title of the book: Sapiens
Enter author of the book: Yuval Harari
Enter cost of the book: 500
Enter the publisher name: Dvir publishing

In [28]:
sql_insert

"insert into book values('Sapiens','Yuval Harari',500,'Dvir publishing')"

In [29]:
c1.execute(sql_insert)

1

In [30]:
c1.execute("commit")

0

In [32]:
#update the cost of book Sapiens from 500 to 1000
tname = input("Enter the table name which you want to update: ")
cname = input("Enter column name which you want to update: ")
val=int(input("Enter the new value: "))

sql_update = "update {0} set {1}={2} where title='Sapiens'".format(tname,cname,val)

Enter the table name which you want to update: book
Enter column name which you want to update: cost
Enter the new value: 1000

In [33]:
sql_update

"update book set cost=1000 where title='Sapiens'"

In [34]:
c1.execute(sql_update)

1

In [35]:
c1.execute("commit")

0