In [1]:
import pandas as pd

In [2]:
x=[34,108,64,88,99,51]
y=[5,17,11,8,14,5]

In [3]:
df=pd.DataFrame({'X':x,'Y':y})

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
model1=LinearRegression()

In [6]:
x = pd.DataFrame(df["X"])

In [7]:
x

     X
0   34
1  108
2   64
3   88
4   99
5   51

In [8]:
y = pd.DataFrame(df["Y"])
y

    Y
0   5
1  17
2  11
3   8
4  14
5   5

In [9]:
model1.fit(x,y)

LinearRegression()

In [10]:
p = model1.predict(x)

In [11]:
p

array([[ 4.15121255],
       [14.97146933],
       [ 8.53780314],
       [12.04707561],
       [13.65549215],
       [ 6.63694722]])

In [12]:
model1.coef_

array([[0.14621969]])

In [13]:
model1.intercept_

array([-0.82025678])